.csss-tabs {
  --list-width: 98%;

  /* 搭配 width，可选 center，left，right */
  --list-position: "flex-end";
  --list-direction: row;
  --list-justify-content: flex-start;
  --list-text-transform: uppercase;
  --list-active-scale: 1.1;
}
