.csss-tabs__list__item {
  position: relative;
  margin-top: var(--small);
  padding: var(--list-item-padding);
  color: var(--list-item-color);
  text-transform: uppercase;
  background-color: var(--list-item-bg-color);
  cursor: pointer;
  transition: all var(--ani-time) ease-in-out;
}

.csss-tabs__list__item::before {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--list-item-tag-width);
  height: 100%;
  background-color: var(--list-item-tag-bg-color);
  content: "";
}

.csss-tabs__list__item__hover:hover {
  background-color: var(--list-item-hover-bg-color);
}

.csss-tabs__list__item[data-active] {
  padding: var(--list-item-active-padding);
  background-color: var(--list-item-active-bg-color);
}

.csss-tabs__list__item[data-active]::before {
  background-color: var(--list-item-active-tag-bg-color);
}

.csss-tabs__list__item[data-disabled] {
  cursor: not-allowed;
  filter: grayscale(3);
}
