@import "./style/config.css";
@import "./style/disabled.css";
@import "./style/color.css";
@import "./style/clean.css";

.csss-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding);
  color: var(--color);
  font-size: var(--font-size);
  background-image: linear-gradient(225deg, var(--bg-color-sub) 0%, var(--bg-color-main) 55%);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-bubble);
  cursor: var(--cursor);
  transition: all var(--transition-time) ease;
}

.csss-button:hover {
  opacity: var(--hover-opacity);
}

.csss-button:active {
  transform: var(--active-transform);
  opacity: var(--active-opacity);
}
