.csss-avatar {
  --avatar-size-large: 2.4rem;
  --avatar-size-normal: 2rem;
  --avatar-size-small: 1.6rem;
  --avatar-size: var(--avatar-size-normal);
}

.csss-avatar__main,
.csss-avatar__main * {
  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: 50%;
}
