.csss-layout {
  --header-height: 3rem;
  --aside-width: 12.5rem;
  --footer-height: 3rem;
  --grid-template-areas: "header header" "aside main" "footer footer";
}

.csss-layout {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  grid-template:
    "header header" var(--header-height)
    "aside main" auto
    "aside footer" var(--footer-height)
    / var(--aside-width) auto;
  grid-template-areas: var(--grid-template-areas);
}

.csss-layout__header {
  grid-area: header;
}

.csss-layout__aside {
  grid-area: aside;
}

.csss-layout__main {
  grid-area: main;
}

.csss-layout__footer {
  grid-area: footer;
}
