.slide-up-enter-active,
.slide-up-leave-active {
  transition: all var(--ani-time) ease-out;
}

.slide-up-enter-from {
  transform: translateY(30px);
  opacity: 0;
}

.slide-up-leave-to {
  transform: translateY(-30px);
  opacity: 0;
}
